.user_and_logo{
  grid-area: a;
  display: flex;
  justify-content: space-around;
}
.chatroom_title{
  grid-area: b;
}
.chatroomList_container{
  grid-area: c;
}
.chatroom_container{
  grid-area: e;
  /* height: 550px; */
  overflow-y: scroll;
}
.send_message{
  grid-area: d;
}


.mainContainer{
  display: grid;
  grid-template:
    "a b" 20vh
    "c e" 60vh
    "c d" 10vh / 1fr 4fr;

}

div{
  padding: 5px;
  border: 2px solid darkblue;
}
.display_of_users{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  overflow-x: scroll;
  background-color: paleturquoise;
}

.user-response{
  background-color: rgb(78, 191, 243);
}

.other-response{
  background-color: darkgrey;
}

.message-sent{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.message-sent div{
  border: none;
  padding: 0px 20px;
  border-radius: 25px;
  margin: 10px;
  line-height: 0.2em;
}
.message-text{
  line-height: 1em
}

.timestamp{
  text-align: right;
  color: white
}

/* .selected-chatroom{ */
  /* background-color: rgb(91, 169, 225); */
  /* border: 1px solid red; */
  /* background-color: greenyellow; */
  /* background-color: transparent; */
/* } */
/* .unselected-chatroom{
  background-color: grey;
} */
.room-raided{
  background-color: greenyellow;
}
#selected-chatroom-id{
  border: 4px solid red;
}

