.user_and_logo{
  grid-area: a;
  display: flex;
  justify-content: space-around;
}
.chatroom_title{
  grid-area: b;
}
.chatroomList_container{
  grid-area: c;
}
.chatroom_container{
  grid-area: e;
  height: 100%;
  overflow-x: scroll;
  border: none;
  border-radius: 1em;
  background-color: rgba(32, 94, 187, 0.207);
}
.send_message{
  grid-area: d;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
  /* display: grid;
  justify-content: 4fr 1fr; */
}

.mainContainer{
  display: grid;
  grid-template:
    "a navbar"
    "c b" 5vh
    "c e" 60vh
    "c d" 1fr / 1fr 4fr;
  gap: 20px;
  /* margin: 10px; */
  /* height: 80vh; */

}

div{
  padding: 5px;
  border: 2px solid darkblue;
  border-radius: 0.4em;
}

#send-button{
  background-color: rgb(32, 94, 187);
  color: white;
  font-weight: 800;
  font-size: 1em;
  border-radius: 0.4em;
  padding: 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

form > input {
  font-size: 1em;
  border-radius: 0.4em;
  padding: 20px;
  margin: 10px;
  width: 500px;
}


.message-sent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 5px 10px;
  /* margin: 10px; */
}


.chatroom_container div{
  border: none;
}
.message-sent div {
  border-radius: 1.8em;
  padding: 0 30px;
}
.blank-bit{
  border: 1px solid transparent;
}
.response-bit{
  background-color: rgb(123, 174, 250);
  color: white;
  border: 1px solid rgb(60, 136, 251);
}



.list-item{
  border-radius: 1em;
  margin: 10px
}
.list-item button {
  border-radius: 1em;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
