.user_and_logo{
  grid-area: a;
  display: flex;
  justify-content: space-around;
}
.chatroom_title{
  grid-area: b;
}
.chatroomList_container{
  grid-area: c;
}
.chatroom_container{
  grid-area: e;
}
.send_message{
  grid-area: d;
}


.mainContainer{
  display: grid;
  grid-template:
    "a b" 1fr
    "c e" 5fr
    "c d" 1fr / 1fr 4fr;

}

div{
  padding: 5px;
  border: 2px solid yellow;
}

/* .chatroomColumn{
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
} */





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
